*{
    box-sizing: border-box;
    text-decoration: none;
  }
  
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
  
/* Style the header */
header {
  background-color: #8f8f8f;
  padding: 15px;
  text-align: center;
  font-size: larger;
  color: white;
  display: flow-root;
}



table{
  display: flexbox;
  font-size: 15px;
}

form{
  display: flexbox;
}

th{
  
  display: table-cell;
  font-weight: 550;
  text-align: center;
}

td{ 
  
  text-align: left;
  border: 1px solid #999;
}

.sidebar{
  position: absolute;
  height: -webkit-fill-available;
  background: #333;
  color:#fff;
  outline: 1px solid #2a2a2a;
}

.sidebar h2{
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #666;
}

.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li{
  outline: 1px solid #2a2a2a;
  transition: all 0.3s;
}

.sidebar li:hover{
  background: #444;
  border-left: 2px solid #eee;
}

.sidebar a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.modal{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  
}

.contenido_modal{
  margin: auto;
  width: 750px;
  height: 420px;
  background: white;
  border-radius: 5px;
  padding: 20px;
}

.contenido_modal h2{
  margin: 0;
  padding-bottom: 5px;
}
.contenido_modal label{
  margin: 0;
  padding-bottom: 5px;
  
}

  
  article {
    margin-left: 200px;
    padding: 20px;
    height: auto;
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
